body {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif; 
}

h1 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;  
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;  
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  min-height: 83 px;
}

.logo-header {
  float: left;
  width: 140px;
}

.main-navigation {
  width: 400px;
  float: left;
}

.user-block {
  width: 110px;
  float: right;
}

.slide-content {
  float: left;
  width: 380px;
  padding-bottom: 79px;
  padding-top: 75px;
}

.slider-img {
  float: right;
}

.banner {
   min-height: 245px;
}


.services-content {  
  border-bottom: 2px #eeeeee solid;
}

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  float: left;
  width: 240px;
  margin-right: 80px;
}

.services:last-child {
  margin-right: 0;
}

.about-us {
  border-bottom: 2px #eeeeee solid;
}

.about-us-content-left {
  float: left;
  width: 620px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.about-us-content-right {
  float: right;
  width: 230px;
  padding-top: 60px;
  padding-bottom: 75px;
}

.friends-list {
  min-height: 166px;
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 85px;
  border-bottom: 2px #eeeeee solid;
}

.gluchanko {
  padding-top: 67px;
}

.academy {
  padding-top: 55px;
}

.borodinski {
  padding-top: 45px;
}

.logo-friend {
  float: left;
  margin-right: 120px;
}

.logo-friend:last-child {
  margin-right: 0px;
}

.map {
  padding-top: 85px;
}

.map-contacts {
  float: left;
  margin-top: 90px;
  margin-bottom: 90px;
  width: 250px;
}

.marker {
  float: right;
  margin-bottom: 115px;
  margin-top: 115px;
  margin-right: -30px;
}

.footer-social {
  float: left;
  margin-top: 75px;
  margin-bottom: 75px;
  width: 240px;
}

.footer-text {
  float: right;
  margin-top: 80px;
  margin-bottom: 75px;
  margin-right: 80px;
  width: 480px;
}

.main-title {
  margin-left: 110px;
  margin-right: 120px;
  margin-bottom: 95px;
  min-height: 80px;
  padding-top: 73px;
}

.column-left {
  float: left;
  width: 240px;
}

.catalog {
  float: right;
  width: 560px;
}

.price {
}

.column-right {
  float: right;
}

.catalog-item {
  float: left;
  margin-right: 80px;
  margin-bottom: 60px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0px;
}



.catalog-list {
  width: 560px;
  margin-bottom: 25px;
}

.columns {
  margin-bottom: 79px;
}

.points {
  width: 240px;
  height: 30px;
  background-color: #eeeeee;
}


.catalog-item-desc {
  position: absolute;
  top: 225px;
  background: white;
  width: 200px;
  right: 20px;
}

/*распорка*/
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}







/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}